/* Vendor CSS */
$primary: #06bee1;
$secondary: #63474d;
$success: #4c934c /*#588157*/;
$warning: #f6ae2d /*#ffda22*/;
$danger: #ad343e;
$pagination-bg: $primary;
$pagination-hover-bg: lighten($primary, 5%);
$pagination-disabled-bg: darken($primary, 10%);
$link-color: $primary;
@import '../../node_modules/bootswatch/dist/darkly/variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootswatch/dist/darkly/bootswatch';
@import '../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5';
@import '../../node_modules/datatables.net-responsive-bs5/css/responsive.bootstrap5';

.navbar-brand,
.navbar-text,
.navbar-text a {
  color: $primary !important;
}
.dataTables_length {
  float: left;
}
