name: ci

on: push

jobs:
  build:
    if: ${{ false }} # Disable for now
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.after }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build --if-present
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          CF_PAGES_COMMIT_SHA: ${{ github.event.after }}
          CF_PAGES_BRANCH: ${{ github.event.ref }}
      - name: Test
        run: npm test
      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli
          lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
